.vs/
Debug/
HitOrMiss.sln
HitOrMiss/Debug/
HitOrMiss/HitOrMiss.vcxproj
HitOrMiss/HitOrMiss.vcxproj.filters
HitOrMiss/HitOrMiss.vcxproj.user
HitOrMiss/openal32.dll
HitOrMiss/sfml-audio-2.dll
HitOrMiss/sfml-audio-d-2.dll
HitOrMiss/sfml-graphics-2.dll
HitOrMiss/sfml-graphics-d-2.dll
HitOrMiss/sfml-network-2.dll
HitOrMiss/sfml-network-d-2.dll
HitOrMiss/sfml-system-2.dll
HitOrMiss/sfml-system-d-2.dll
HitOrMiss/sfml-window-2.dll
HitOrMiss/sfml-window-d-2.dll